body {
	margin: 0;
	padding: 0;
	background-color:#f6f6ee;
	color:#54542c;
}

#sidebar{
	background:#151718;
	width:200px;
	height:100%;
	display:block;
	position:absolute;
	left:-200px;
	top:0px;
	transition: left 0.3s linear;
}


#sidebar.visible {
	left:0px;
	transition: left 0.3s linear;
}


ul {
	margin:0px;
	padding:0px;
}

ul li {
	list-style: none;
}

ul li a {

	background:#eeeedd;
	color:#111109;
	border-bottom:1px solid #111;
	display:block;
	width:180px;
	padding:10px;
	text-decoration: none;
}

#button{
	display: inline-block;
	vertical-align: middle;
	width:20px;
	height:15px;
	margin:20px;
	position: absolute;
	top:0px;
	right:-60px;
}

#button span {
	height:2px;
	background: #54542c;
	margin-bottom: 5px;
	display:block;
	cursor:pointer;
}

#button span:nth-child(2){
	width:75%;
}

#button span:nth-child(3){
	width:50%;
}

main {
	padding: 1em;
}

h1 {
	font-family: Colonna MT, sans-serif;
	font-weight: 700;
	font-size:80px;
	text-align: center;
	margin: 0;
	padding:1em;
}

h2 {
	font-weight: 200;
	font-size:50px;
	text-align: center;
	margin: 0;
	padding:1em;


}

#construct {
	font-weight: 700;
	font-size:20px;
	text-align: center;
	padding:1em;
	margin: 0 0 1em 0;
}